<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body p-5">
        <div class="row">
          <div class="d-none d-sm-block  d-md-block  d-lg-block d-xl-block col-12 my-0 col-sm-12 col-md-12 col-xs-12">
          <h2 class="card-title my-1"> Explanation of belts and stars</h2>
          </div>
          <div class="col-12 col-xs-12">

            <p class="text-muted text-larger">After every volunteer’s statistics on the Volunteers page, you can see either a belt or a star. These reflect the contributions of volunteers to the program.</p>

            <p class="text-muted text-left text-larger"><span class="fw-bolder text-primary">Belts: </span> Belts are awarded in direct relation to the number of words translated (with one hour of interpreting equivalent to 1,000 words). The more words you have done, the higher your belt, as in a karate belt system.</p>
            <p class="text-muted text-left text-larger">Here are the values for acquiring each belt and the reward:</p>

            <p class="text-muted text-larger d-none d-md-block"><span class="fw-bolder text-primary">Stars: </span>Stars are awarded for non-translation or interpreting contributions, such as being an Ambassador or a Ninja, or any other contribution at the discretion of the program team.</p>

            <p class="text-muted text-larger d-none d-md-block"><span class="fw-bolder text-primary">Color Scheme: </span>Just like belts, stars are colored according to quantity.</p>

            <div class="row">
              <div class="container col-12 col-md-4">
                <h5 class="fw-bolder text-primary text-center my-2">Belt System</h5>
                <div class="table-responsive shadow-sm rounded px-2">
                <table class="table table-sm">
                  <thead class="thead-light rounded">
                    <tr>
                      <th scope="col" class="br-left">Points</th>
                      <th scope="col" class="br-right">Levels</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1,000</td>
                      <td>White belt</td>
                    </tr>
                    <tr>
                      <td>2,500</td>
                      <td>Yellow belt</td>
                    </tr>
                    <tr>
                      <td>5,000</td>
                      <td>Orange belt</td>
                    </tr>
                    <tr>
                      <td>10,000</td>
                      <td>Purple belt</td>
                    </tr>
                    <tr>
                      <td>15,000</td>
                      <td>Blue belt</td>
                    </tr>
                    <tr>
                      <td>20,000</td>
                      <td>Green belt</td>
                    </tr>
                    <tr>
                      <td>35,000</td>
                      <td>Gray belt</td>
                    </tr>
                    <tr>
                      <td>50,000</td>
                      <td>Gold belt</td>
                    </tr>
                    <tr>
                      <td>75,000</td>
                      <td>Brown belt</td>
                    </tr>
                    <tr>
                      <td>100,000</td>
                      <td>Red belt</td>
                    </tr>
                    <tr>
                      <td>250,000</td>
                      <td>Red and black belt</td>
                    </tr>
                    <tr>
                      <td>500,000</td>
                      <td>Black belt</td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>

              <p class="text-muted p-3 mt-4 text-larger d-block d-md-none"><span class="fw-bolder text-primary">Stars: </span>Stars are awarded for non-translation or interpreting contributions, such as being an Ambassador or a Ninja, or any other contribution at the discretion of the program team.</p>

              <div class="container col-12 col-md-4">
                <h5 class="fw-bolder text-primary text-center my-2">Star System</h5>
                <div class="table-responsive shadow-sm rounded px-2">
                  <table class="table table-sm">
                    <thead class="thead-light">
                      <tr>
                        <th class="br-left">Contribution</th>
                        <th class="br-right">Stars Gained</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Ambassador</td>
                        <td>20 stars / month</td>
                      </tr>
                      <tr>
                        <td>Ninja</td>
                        <td>15 stars / month</td>
                      </tr>
                      <tr>
                        <td>Crew Member</td>
                        <td>15 stars / month</td>
                      </tr>
                      <tr>
                        <td>Blog post</td>
                        <td>5 stars</td>
                      </tr>
                      <!--tr>
                        <td>Bright Idea 1</td>
                        <td>2 stars</td>
                      </tr-->
                      <tr>
                        <td>Bright Idea</td>
                        <td>4 stars</td>
                      </tr>
                      <tr>
                        <td>Open House</td>
                        <td>2 stars</td>
                      </tr>
                      <tr>
                        <td>Other Contributions</td>
                        <td>Discretionary</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <p class="text-muted p-3 mt-4 text-larger d-block d-md-none"><span class="fw-bolder text-primary">Stars Color Scheme: </span>Just like belts, stars are colored according to quantity.</p>

              <div class="container col-12 col-md-4">
                <h5 class="fw-bolder text-primary text-center my-2">Color Scheme</h5>
                <div class="table-responsive shadow-sm rounded px-2">
                  <table class="table table-sm">
                    <thead class="thead-light bg-primary">
                      <tr>
                        <th class="br-left">Stars Gained</th>
                        <th class="br-right">Star Color</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>0-20</td>
                        <td>White star</td>
                      </tr>
                      <tr>
                        <td>21-40</td>
                        <td>Yellow star</td>
                      </tr>
                      <tr>
                        <td>41-60</td>
                        <td>Orange star</td>
                      </tr>
                      <tr>
                        <td>61-80</td>
                        <td>Purple star</td>
                      </tr>
                      <tr>
                        <td>81-100</td>
                        <td>Blue star</td>
                      </tr>
                      <tr>
                        <td>101-120</td>
                        <td>Green star</td>
                      </tr>
                      <tr>
                        <td>121-140</td>
                        <td>Gray star</td>
                      </tr>
                      <tr>
                        <td>141-160</td>
                        <td>Gold star</td>
                      </tr>
                      <tr>
                        <td>161-180</td>
                        <td>Brown star</td>
                      </tr>
                      <tr>
                        <td>181-200</td>
                        <td>Red star</td>
                      </tr>
                      <tr>
                        <td>201-220</td>
                        <td>Red and black star</td>
                      </tr>
                      <tr>
                        <td>221+</td>
                        <td>Black star</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
